<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BS Utility: Server Configuration</title>
</head>
<body>
<p><a href="/ui">< back</a></p>
<h1>Server Configuration</h1>
<form action="#" method="post" th:action="@{/ui/config}" th:object="${configEntriesDTO}">
    <table>
        <tr th:each="configEntry, itemStat: *{configEntries}">
            <td th:text="${configEntry.id.displayName}"/>
            <td>
                <input th:field="*{configEntries[__${itemStat.index}__].value}" type="text"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset"/>
</form>
</body>
</html>