<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BS Utility: Server Configuration</title>
</head>
<body>
<p><a href="/ui">< back</a></p>
<h1>Configuration</h1>
<form action="#" method="post" th:action="@{/ui/config}" th:object="${configForm}">
    <table>
        <tr th:each="entry: *{configEntries.entrySet()}">
            <td>
                <label th:text="${entry.key.displayName}"/>
            </td>
            <td>
                <input th:field="*{configEntries[__${entry.key}__]}" type="text"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset"/>
</form>
<p th:text="${configForm}"/>
</body>
</html>