<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ball Screw Utility</title>
</head>
<body>
<h1>Ball Screw Utility</h1>
<h3>BaSyx infrastructure Status:</h3>
<table>
    <tr>
        <td>
            <table th:object="${registrationStatus}">
                <tr>
                    <td>Registered to AAS registry</td>
                    <td><input disabled th:checked="*{registeredToAasRegistry}" type="checkbox"/></td>
                </tr>
                <tr>
                    <td>AAS uploaded to repository</td>
                    <td><input disabled th:checked="*{shellUploadedToRepository}" type="checkbox"/></td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <a th:href="${aasServerPath}">Link to AAS Server</a>
                        <span title="This link will not work when the machine you are accessing this site from is on another network than the machine running the kgt-application (i.e. when using the bundled docker-compose file) this is expected behaviour and not a bug. The link always leads to the path that has been configured in the kgt-application. If the links do not work you might need to replace the hostname in the path with the correct one.">&#9432;</span>
                    </td>
                </tr>
                <tr>
                    <td><a th:href="${registryPath}">Link to AAS Registry</a>
                        <span title="This link will not work when the machine you are accessing this site from is on another network than the machine running the kgt-application (i.e. when using the bundled docker-compose file) this is expected behaviour and not a bug. The link always leads to the path that has been configured in the kgt-application. If the links do not work you might need to replace the hostname in the path with the correct one.">&#9432;</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<p><a href="/swagger-ui/index.html">REST-API</a></p>
</body>
</html>