<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BS Utility: Server Configuration</title>
</head>
<body>
<p><a href="/">< back</a></p>
<h1>Server Configuration</h1>
<form action="#" th:action="@{/serverConfig}" th:object="${serverConfig}" method="post">
    <p>Registry path: <input type="text" th:field="*{registryPath}" /></p>
    <p>AAS server path: <input type="text" th:field="*{aasServerPath}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>